appdirs==1.4.4
Brotli==1.1.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cssselect2==0.7.0
fonttools==4.53.1
html5lib==1.1
idna==3.8
importlib_metadata==8.4.0
pdfkit==1.0.0
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyee==11.1.0
pyphen==0.16.0
pyppeteer==2.0.0
requests==2.32.3
six==1.16.0
tinycss2==1.3.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.19
weasyprint==62.3
webencodings==0.5.1
websockets==10.4
zipp==3.20.0
zopfli==0.2.3
